* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

a {
    color: #0095ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 50px;
    background-color: #3d3d3d;
    color: white;
    font-size: 20px;
}

header a {
    display: inline-block;
    height: 20px;
    padding: 15px;
    color: white;
    text-decoration: none;
    transition: 0.5s background-color;
}

header a:hover, a.active:hover {
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}

header a.active {
    background-color: rgba(255, 255, 255, 0.1);
}

main {
    margin-top: 50px;
}

section {
    padding: 15px;
    padding-left: 10vw;
    padding-right: 10vw;
}

section.cover {
    background-color: #eaeaea;
    text-align: center;
}

section.cover h1 {
    font-size: 40px;
}

button {
    margin: 5px;
    padding: 10px;
    background-color: #0095ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s background-color;
}

button:hover {
    background-color: #42b1ff; 
}

button.secondary {
    background-color: #42b1ff;
}

button.secondary:hover {
    background-color: #6bc2ff;
}

button.bad {
    background-color: #aaaaaa;
}

button.bad:hover {
    background-color: #9a9a9a;
}

input {
    margin: 5px;
    padding: 10px;
    background-color: #dddddd;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: text;
    transition: 0.5s background-color;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

table th {
    padding: 10px;
    background-color: #6bc2ff;
    color: white;
}

table th:first-child {
    border-top-left-radius: 10px;
}

table th:last-child {
    border-top-right-radius: 10px;
}

table td {
    padding: 10px;
    background-color: #eaeaea;
    color: black;
}

table tr:nth-child(2n) td {
    background-color: #efefef;
    color: black;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.desktop {
    display: unset;
}

.mobile {
    display: none;
}

.account {
    text-align: center;
}

.account input {
    display: block;
    width: calc(100% - 20px);
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.account button {
    display: inline-block;
    width: calc(50% - 2px);
    max-width: 158px;
    margin-left: auto;
    margin-right: auto;
}

/* Media queries */

@media (max-width: 500px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: unset;
    }
}